
<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-6 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">Document Request</h6>
    </div>
    <div col-6 style="float: right;">
      <button class="btn btn-primary" type="button" hidden="hidden" [routerLink]="['/mainpage/documentmaster/adddoctype']">
        Add
      </button>
    </div>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="requests?.length>   0">

        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Document Title</th>
            <th scope="col">Document No</th>
            <th scope="col">Document Type</th>
            <th scope="col">Department</th>
            <!--<th scope="col">Document</th>-->
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of requests; let i=index">
            <th> {{i+1}}</th>
            <!--<td>{{doc?.documenttitle}}</td>-->
            <td>SOP for DMS Implementation   </td>
            <!--<td>{{doc?.documentno}}</td>-->
            <td>QA/SOP/023/001-00</td>
            <td>{{doc?.documenttype}}</td>
            <td>{{doc?.department}}</td>
            <td>{{doc?.status}}</td>
            <td>
              <button class="btn" data-toggle="modal" data-target="#exampleModal" [id]="doc.DTCId"
                      data-backdrop="static" data-keyboard="false" (click)="editBrand(doc);">
                <span class="fa fa-edit"></span>
              </button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

    <div *ngIf="types?.length==0">
      <p>No items to display</p>
    </div>
  </div>
</div>
