<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
            <h4 class="page-title">Assigned to Me</h4>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="p-4 bg-white shadow-dark rounded-2">
            <p-table [value]="types" tableStyleClass="table table-striped" [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="types.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="TaskType" style="width:20%">Task type <p-sortIcon field="TaskType"></p-sortIcon></th>
                        <th pSortableColumn="TaskName" style="width:20%">Task Name <p-sortIcon field="TaskName"></p-sortIcon></th>
                        <th pSortableColumn="Stage" style="width:10%">Stage <p-sortIcon field="Stage"></p-sortIcon></th>
                        <!-- <th pSortableColumn="assignedGroup" style="width:15%">Assigned Group <p-sortIcon field="assignedGroup"></p-sortIcon></th> -->
                        <th pSortableColumn="initiatedBy" style="width:20%">Initiated By <p-sortIcon field="initiatedBy"></p-sortIcon></th>
                        <th pSortableColumn="InitiatedOn" style="width:200px">Initiated On <p-sortIcon field="InitiatedOn"></p-sortIcon></th>
                        <th pSortableColumn="Status" style="width:200px">Status <p-sortIcon field="Status"></p-sortIcon></th>
                        <th pSortableColumn="InitiatedOn" style="width:200px">Due Date <p-sortIcon field="InitiatedOn"></p-sortIcon></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assigned let-i="rowIndex">
                    <tr>  
                        <td>{{ i + 1 }}</td>  
                         <td>
                            <a href="javascript:void(0)" (click)="viewtask(assigned)">{{ assigned.TaskType }}</a>
                        </td> 
                       
                        <td>{{assigned.TaskName}}</td>
                        <td>{{assigned.Stage}}</td>
                        <!-- <td>{{assigned.assignedGroup}}</td> -->
                        <td>{{assigned.InitiatedBy}}</td>
                        <td>{{assigned.InitiatedOn}}</td>
                        <!-- <td>{{assigned.status}}</td> -->
                        <td><span class="status" [ngClass]="getStatusClass(assigned.Status)">{{assigned.Status}}</span></td>
                        <td>{{assigned.InitiatedOn}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </div>
</div>  
