<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-12 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">Add  New User Group Registration</h6>
    </div>

  </div>
  <div class="card-body">
    <form (ngSubmit)="submit(newdept)" #fm="ngForm">
      <div class="modal-body">
        <div class="form-group row">

          <label for="UserGroupName" class="col-sm-4 col-form-label">User Group Name</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="UserGroupName" [(ngModel)]="newdept.Usergroupname"
                   pattern='[A-Za-z\\s]*' name="UserGroupName" aria-describedby="productname" placeholder="Enter User Group Name"
                   #BrandName="ngModel"  />
          </div>
        </div>
        <div class="form-group row">

          <label for="BrandName" class="col-sm-4 col-form-label">User Group Code</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="UserGroupCode" [(ngModel)]="newdept.Code"
                   pattern='[A-Za-z\\s]*' name="UserGroupCode" aria-describedby="productname" placeholder="Enter UserGroupCode Code"
                   #BrandName="ngModel"  />
          </div>
        </div>
        <div class="form-group row">

          <label for="BrandName" class="col-sm-4 col-form-label">Users</label>

          <div class="col-sm-8">
            <!--[(ngModel)]="adddocreq.department"-->
            <select class="form-control" [(ngModel)]="newdept.Users"  name="Assigntodepartment" id="Assigntodepartment" [disabled]="viewMode" (ngModelChange)="inputValue = $event"
                    >
              <option value="Select">Select</option>
              <option *ngFor="let user of types" value={{user.UserID}}>{{user?.UserID}}</option>
            </select>
            <!--<input type="text" class="form-control" id="BrandName" [(ngModel)]="newdept.Users"
  pattern='[A-Za-z\\s]*' name="BrandName" aria-describedby="productname" placeholder="Enter Users"
  #BrandName="ngModel" [ngClass]="{ 'is-invalid': fm.submitted && BrandName.invalid }" required />-->
          </div>
        </div>
      </div>
      <div class="form-group row">

        <label for="TotalUsers" class="col-sm-4 col-form-label"> &nbsp;&nbsp;&nbsp;&nbsp;Total Users</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="TotalUsers" [(ngModel)]="newdept.Totalusers"
                 pattern='[A-Za-z\\s]*' name="TotalUsers" aria-describedby="productname" placeholder="Enter TotalUsers"
                 #BrandName="ngModel"  />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closepopup();">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
