<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
          <h4 class="page-title"><a (click)="navigateTo('home')"><i class="bi bi-house-door"></i></a> / Document Manager</h4>
        </div>
      </div>
    <div class="row p-2">
  
      
  
      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('requests')">
          <div class="card-body">
            <!-- <i class="fa fa-chart-pie"></i> -->
            <i class="fa fa-code-pull-request"></i>
            <h5 class="card-title">Document Request</h5>
          </div>
        </div>
      </div>
  
      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('preparations')">
          <div class="card-body">
            <i class="fa fa-pen-ruler"></i>
            <h5 class="card-title">Document Preparation</h5>
          </div>
        </div>
      </div>
  
      
  
      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('effectives')">
          <div class="card-body">
            <i class="fa fa-square-poll-vertical"></i>
            <h5 class="card-title">Document Effective</h5>
          </div>
        </div>
      </div>
  
      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('document-revision')">
          <div class="card-body">
            <i class="fa fa-cash-register"></i>
            <h5 class="card-title">Document Revision</h5>
          </div>
        </div>
      </div>
  
      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('document-print')">
          <div class="card-body">
            <i class="fa fa-print"></i>
            <h5 class="card-title">Document Print</h5>
          </div>
        </div>
      </div>

      <div class="col col-lg-3">
        <div class="card" (click)="navigateTo('existing-document-requests')">
          <div class="card-body">
            <i class="fa fa-print"></i>
            <h5 class="card-title">Existing Document Request</h5>
          </div>
        </div>
      </div>
  
    </div>
  </div>
