<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
           
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="page-title flex-grow-1">Workflows</h4>
                <div class="d-flex page-title-actions">
                    <input type="text" class="form-control" pInputText type="text" (input)="workflowTable.filterGlobal($any($event.target)?.value, 'contains')"  placeholder="Search Workflows" />
                
                  <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddWorkflow()">Add</button>
                </div>
              </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="p-4 bg-white shadow-dark rounded-2">
            <p-table #workflowTable [value]="types"
            [globalFilterFields]="['workflowName','documentstage', 'documenttype', 'department','CreatedBy', 'Status','workflowName']"
             tableStyleClass="table table-striped" [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="types.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="workflowName" style="width:20%">Workflow<p-sortIcon field="workflowName"></p-sortIcon></th>
                        <th pSortableColumn="documentstage" style="width:20%">Document Stage<p-sortIcon field="documentstage"></p-sortIcon></th>
                        <th pSortableColumn="documenttype" style="width:10%">Document Type <p-sortIcon field="documenttype"></p-sortIcon></th>
                        <th pSortableColumn="department" style="width:15%">Department<p-sortIcon field="department"></p-sortIcon></th>
                        <th pSortableColumn="CreatedBy" style="width:20%">Registered by<p-sortIcon field="CreatedBy"></p-sortIcon></th>
                        <th pSortableColumn="CreatedDate" style="width:200px">Registered On <p-sortIcon field="CreatedDate"></p-sortIcon></th>
                        <th pSortableColumn="Status" style="width:200px">Status <p-sortIcon field="Status"></p-sortIcon></th>
                        <th style="width:80px">Actions</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-docItem let-i="rowIndex">
                    <tr>  
                        <td>{{ i + 1 }}</td>  
                        <td>{{docItem.workflowName}}</td>
                        <td>{{docItem.documentstage}}</td>
                        <td>{{docItem.documenttype}}</td>
                        <td>{{docItem.department}}</td>
                        <td>{{docItem.CreatedBy}}</td>
                        <td>{{docItem.CreatedDate}}</td>
                        <td><span class="status text-nowrap" [ngClass]="getStatusClass(docItem['Status'])">{{docItem.Status}} </span></td>
                        <td class="text-center" *ngIf="docItem.Status!='Approved'" (click)="editdoc(docItem)"><i class="bi bi-pencil"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </div>
</div>  
