
<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-6 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">Document Template Configuration</h6>
    </div>
    <div col-6 style="float: right;">
      <button class="btn btn-primary" type="button" [routerLink]="['/mainpage/documentmaster/adddoctemplate']">
        Add
      </button>
    </div>
  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="types?.length>   0">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Template Name</th>
            <th scope="col">Unique Code</th>
            <th scope="col">Registered By</th>
            <th scope="col">Registered On</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of types; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{doc?.Templatename}}</td>
            <td>{{doc?.Uniquecode}}</td>
            <td>{{doc?.ModifiedBy}}</td>
            <td>{{doc?.ModifiedDate | date}}</td>

            <td>{{doc?.Status}}</td>
            <td>              
              <button class="btn"> <span class="fa fa-edit" (click)="editdoc(doc);"></span></button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

    <div *ngIf="types?.length==0">
      <p>No items to display</p>
    </div>
  </div>
</div>
