<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-12 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">New Plant Registration</h6>
    </div>

  </div>
  <div class="card-body">
    <form (ngSubmit)="submit(adddoc)" #fm="ngForm">
      <div class="modal-body">
        <div class="form-group row">

          <label for="PlantName" class="col-sm-4 col-form-label">Plant Name</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="PlantName" [(ngModel)]="adddoc.PlantName" (ngModelChange)="inputValue = $event"
                   pattern='[A-Za-z\\s]*' name="PlantName" aria-describedby="productname" placeholder="Enter Plant Name"
                   #BrandName="ngModel"  />
          </div>
        </div>
        <div class="form-group row">

          <label for="PlantCode" class="col-sm-4 col-form-label">Plant Code</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="PlantCode" [(ngModel)]="adddoc.PlantCode" [disabled]="viewMode" (ngModelChange)="inputValue = $event"
                   pattern='[A-Za-z\\s]*' name="PlantCode" aria-describedby="productname" placeholder="Enter Plant Code"
                   #BrandName="ngModel"  />
          </div>
        </div>
        <div class="form-group row">

          <label for="PlantAddress" class="col-sm-4 col-form-label">Plant Address</label>

          <div class="col-sm-8">
            <input type="text" class="form-control"  id="PlantAddress" [(ngModel)]="adddoc.PlantAddress" [disabled]="viewMode" (ngModelChange)="inputValue = $event"
                   pattern='[A-Za-z\\s]*' name="PlantAddress" aria-describedby="productname" placeholder="Enter Plant Address"
                   #BrandName="ngModel"  />
          </div>
        </div>
        <div class="form-group row">

          <label for="Comments" class="col-sm-4 col-form-label">Comments</label>

          <div class="col-sm-8">
            <input type="text" class="form-control" id="Comments" [(ngModel)]="adddoc.Comments" [disabled]="viewMode" (ngModelChange)="inputValue = $event"
                   pattern='[A-Za-z\\s]*' name="Comments" aria-describedby="productname" placeholder="Enter Comments"
                   #BrandName="ngModel"  />

          </div>

        </div>
      </div>
      <div class="modal-footer">    
        <button type="button" class="btn btn-secondary" (click)="closepopup();">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
