<div class="container-fluid">
  <div class="row p-2">
    
    <!-- <div class="row p-2">
      <div class="col">
        <h4 class="page-title"><a ><i class="bi bi-house-door"></i></a></h4>
      </div>
    </div> -->

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('assigned')">
        <div class="card-body">
          <i class="fa fa-briefcase"></i>
          <h5 class="card-title">
            Work Items<br />
            Assigned to me
          </h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('dashboard')">
        <div class="card-body">
          <i class="fa fa-chart-pie"></i>
          <h5 class="card-title">Dashboard</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('document-master')">
        <div class="card-body">
          <i class="fa-regular fa-life-ring"></i>
          <h5 class="card-title">Document Master</h5>
        </div>
      </div>
    </div>

    

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('document-manager')">
        <div class="card-body">
          <i class="fa-solid fa-folder-tree"></i>
          <h5 class="card-title">Document Manager</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('document-types')">
        <div class="card-body">
          <i class="fa-solid fa-database"></i>
          <h5 class="card-title">Document Repository</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('admin')">
        <div class="card-body">
          <i class="fa-solid fa-users-gear"></i>
          <h5 class="card-title">Admin Management</h5>
        </div>
      </div>
    </div>

  </div>
</div>
