 <body>

      <div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="page-title">Set Functional Profile</h4>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="onSubmit(profile)"  #fm="ngForm">
      <div class="p-4 bg-white shadow-dark rounded-2">
        
        <div class="form-group row">
          <label for="role" class="col-sm-2 col-form-label">Role <span style="color: red; font-weight: bolder;">*</span></label>
          <div class="col-sm-10">

            <div *ngIf="viewMode">
              <p-multiSelect [options]="roleTypes" [(ngModel)]="selectedRoles" defaultLabel="Select a Role" name="Role" id="Role" optionLabel="Role" display="chip" [disabled]="viewMode">
                <ng-template pTemplate="selectedItems" let-options>
                  <ng-container *ngTemplateOutlet="customTemplate; context: {$implicit: options}"></ng-container>
                </ng-template>
              </p-multiSelect>
              <ng-template #customTemplate let-options>
                <div class="p-chips-container p-inputtext" *ngIf="roleTypes && roleTypes.length">
                  <span class="p-chip p-highlight">{{ roleTypes[0].Role }}</span>
                  <span *ngIf="roleTypes.length > 1" class="p-chip">+{{ roleTypes.length - 1 }}</span>
                </div>
              </ng-template>
            </div>
            <div *ngIf="!viewMode">
              <p-multiSelect [options]="roleTypes" [(ngModel)]="selectedRoles" defaultLabel="Select a Role"
                             name="Role" id="Role" optionLabel="Role"
                             display="chip"   required
                             #departmentInput="ngModel"  >
                             <div *ngIf="departmentInput.invalid && (departmentInput.dirty || departmentInput.touched)" class="text-danger">
                              Enter department.
                             </div>      
              </p-multiSelect>
            </div>
          </div>
        </div>
        
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              ><b>Admin Management</b></label
            >
            <!-- <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="adminMgmt"
                name="adminMgmt"
                placeholder=""
                [(ngModel)]="profile.adminMgmt" [disabled]="viewMode"
               
              /> 
            </div>-->
          </div>

          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Security Management</label
            >
            <div class="col-sm-10">
              <input type="checkbox"
                
                id="securityMgmt"
                name="securityMgmt"
                placeholder=""
                [(ngModel)]="profile.securityMgmt" [disabled]="viewMode"
               
              />
            </div>
          </div>
                    <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Security Configurations</label>
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="securityConfig"
                name="securityConfig"
                placeholder=""
                [(ngModel)]="profile.securityConfig" [disabled]="viewMode"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >E sign and Aprroval Configurations</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="approvalConfigs"
                name="approvalConfigs"
                placeholder=""
                [(ngModel)]="profile.approvalConfigs" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Hirearchy Management</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="hirearchyMgmt"
                name="hirearchyMgmt"
                placeholder=""
                [(ngModel)]="profile.hirearchyMgmt" [disabled]="viewMode"
               
              />
            </div>
          </div>
              <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Role Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="role"
                name="role"
                placeholder=""
                [(ngModel)]="profile.role" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Department Configuratio</label>
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="deptConfig"
                name="deptConfig"
                placeholder=""
                [(ngModel)]="profile.deptConfig" [disabled]="viewMode"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Set Functional Profile</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="setFunctionalprofile"
                name="setFunctionalprofile"
                placeholder=""
                 [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Plant Managementt</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="plantMgmt"
                name="plantMgmt"
                placeholder=""
                [(ngModel)]="profile.plantMgmt" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >User Managementt</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="userMgmt"
                name="userMgmt"
                placeholder=""
                [(ngModel)]="profile.userMgmt" [disabled]="viewMode"
               
              />
            </div>
          </div>
          
              <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >User Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="userConfig"
                name="userConfig"
                placeholder=""
                [(ngModel)]="profile.userConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Activate/De-Activate</label>
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="Activate"
                name="Activate"
                placeholder=""
                [(ngModel)]="profile.ActivateStatus" [disabled]="viewMode"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >User Group Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="userGroupConfig"
                name="userGroupConfig"
                placeholder=""
                [(ngModel)]="profile.userGroupConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Audit Log</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="Audit"
                name="Audit"
                placeholder=""
                [(ngModel)]="profile.Audit" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              ><b>Document Master</b> </label
            >
            <div class="col-sm-10">
              <!-- <input
                type="checkbox"                
                id="documentmaster"
                name="documentmaster"
                checked="true"
                [(ngModel)]="profile.documentMaster"  
               
              /> -->
            </div>
          </div>
          
              <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Document Type Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentTypeConfig"
                name="documentTypeConfig"
                placeholder=""
                [(ngModel)]="profile.documentTypeConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Document Template Configuration</label>
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentTemplateConfig"
                name="documentTemplateConfig"
                placeholder=""
                [(ngModel)]="profile.documentTemplateConfig" [disabled]="viewMode"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >WorkFlow Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="workflowConfig"
                name="workflowConfig"
                placeholder=""
                [(ngModel)]="profile.workflowConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Dash Board Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="dashboardConfig"
                name="dashboardConfig"
                placeholder=""
                [(ngModel)]="profile.dashboardConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Notification Configuration</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="notificationConfig"
                name="notificationConfig"
                placeholder=""
                [(ngModel)]="profile.notificationConfig" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label"><b>Document Manager</b></label>
            <div class="col-sm-10">
              <!-- <input
                type="checkbox"
                
                id="documentManager"
                name="documentManager"
                placeholder=""
                [(ngModel)]="profile.documentManager" [disabled]="viewMode"
                
              /> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Document Request</label>
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentRequest"
                name="documentRequest"
                placeholder=""
                [(ngModel)]="profile.documentRequest" [disabled]="viewMode"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Document Preparation</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentpreparation"
                name="documentpreparation"
                placeholder=""
                [(ngModel)]="profile.documentPreperation" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Document EffectiveOut</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentEffective"
                name="documentEffective"
                placeholder=""
                [(ngModel)]="profile.documentEffective" [disabled]="viewMode"
               
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Additional Tasks</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="additionalTasks"
                name="additionalTasks"
                placeholder=""
                [(ngModel)]="profile.additionalTasks" [disabled]="viewMode"
               
              />
            </div>
          </div>
                    
                    <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Document Revision</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="documentRevison"
                name="documentRevison"
                placeholder=""
                [(ngModel)]="profile.documentRevison" [disabled]="viewMode"
               
              />
            </div>
          </div>
                    <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Document Repository</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="docrepository"
                name="docrepository"
                placeholder=""
                [(ngModel)]="profile.docrepository" [disabled]="viewMode"
               
              />
            </div>
          </div>
                    <div class="form-group row">
            <label for="profile" class="col-sm-2 col-form-label"
              >Work Assigned To ME</label
            >
            <div class="col-sm-10">
              <input
                type="checkbox"
                
                id="workItemsassigned"
                name="workItemsassigned"
                placeholder=""
                [(ngModel)]="profile.workItemsassigned" [disabled]="viewMode"
               
              />
            </div>
          </div>
          
         
          
          
          
          
          
          
          
          
          
        
        
        
        
        
        
      </div>

      <div class="form-group row my-4">
        <div class="col-sm-10 offset-sm-2">
          <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary" *ngIf="!editMode" (click)="onSubmit(profile)">Submit</button>
          <button type="submit" class="btn btn-primary" *ngIf="editMode">Update</button>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>


  </body>
