<div class="card shadow mb-4">
  <div class="card-header py-2">
    <!-- <h6 class="m-0 font-weight-bold text-center">List of Products
      <button type="button" (click)="createProduct()" class="btn btn-primary btn-sm" style="float: right;"
        data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" data-backdrop="static"
        data-keyboard="false">Add
        Product</button>
        <button *ngIf="prods && prods.length>0" type="button" (click)="export()" class="btn btn-primary btn-sm"
          style="float: right;">Export</button>
      <input type="file" name="myfile" [accept]="actions?.import?.accept"
        (change)="fileUpload($event.target.files, actions?.import?.accept)" style="display:none;" #file />
      <button *ngIf="actions?.import" type="button" (click)="file.click()" class="btn btn-primary btn-sm"
        style="float: right;">{{actions?.import?.btnName}}</button>
    </h6> -->
    <button class="btn btn-primary dropdown-toggle pull-right" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actions
    </button>
    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
        data-backdrop="static" (click)="createProduct()" data-keyboard="false">Add</button>
      <button class="dropdown-item"  (click)="export()">Export</button>
      <input type="file" name="myfile" [accept]="actions?.import?.accept"
        (change)="fileUpload($event.target.files)" style="display:none;" #file />
      <button class="dropdown-item" *ngIf="actions?.import" (click)="file.click()">
        {{actions?.import?.btnName}}</button>
    </div>
  </div>
  <div class="card-body">
    <!-- <div class="table-responsive">
      <table class="table table-bordered" id="escalation">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Display Name</th>
            <th scope="col">Code</th>
            <th scope="col">Type</th>
            <th scope="col">Brand</th>
            <th scope="col">Actual Price</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Edit/Delete</th>
            <th scope="col">Add 2 Cart</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of prods |filter: filterStr : 'Name':'Code':'TypeName':'BrandName'| paginate: pageConfig ; let i=index">
            <th scope="row">{{pageConfig.itemsPerPage * (pageConfig.currentPage-1)+(i+1)}}</th>
            <td>{{prod.Name}}</td>
            <td>{{prod.DisplayName}}</td>
            <td>{{prod.Code}}</td>
            <td>{{prod.TypeName}}</td>
            <td>{{prod.BrandName}}</td>
            <td>{{prod.ActualCost}}</td>
            <td>{{prod.SellingCost}}</td>
           
            <td>
              <button class="btn" data-toggle="modal" data-target="#exampleModal" [id]="prod.Id" data-backdrop="static"
                data-keyboard="false" (click)="edit(prod);"> <span class="fa fa-flag fa-wrench"></span> </button>
              <button class="btn"> <span class="fa fa-flag fa-trash" (click)="delete(i,prod);"></span></button>
            </td>
            <td>
              <button class="btn"> <span class="fa fa-flag fa-shopping-cart" (click)="addtocart(prod);"></span> </button>

            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls style="float: right;" [autoHide]="pageConfig.autoHide"
        (pageChange)="pageConfig.currentPage = $event"></pagination-controls>
    </div> -->
    <!-- <div class="col-xl-3 col-md-6 mb-4" *ngFor="let prod of prods |filter: filterStr : 'Name':'Code':'TypeName':'BrandName'| paginate: pageConfig ; let i=index">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">{{prod.Name}}</div>
             
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div *ngIf="prods?.length>0">
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4"
          *ngFor="let prod of prods |filter: filterStr : 'Name':'Code':'TypeName':'BrandName'| paginate: pageConfig ; let i=index">
          <div class="Products-card">
            <div class="card-body">
              <!-- <div class="row no-gutters align-items-center"> -->
              <!-- <div class="container"> -->
              <img src="assets/img/prod.jpg" data-toggle="modal" data-target="#exampleModal"
                [id]="prod.Id" data-backdrop="static" data-keyboard="false" (click)="edit(prod);" alt="Denim Jeans"
                style="width:100%">
              <!-- <a class="btn"> <span class="fa fa-flag fa-trash" (click)="delete(i,prod);"></span></a> -->
              <!-- </div> -->
              <h5 class="text-truncate">{{prod.DisplayName}}</h5>
              <p>{{prod.SellingCost | INR}}</p>
              <p class="text-truncate">{{prod.Description}}</p>
              <!-- <textarea readonly="readonly" cols="50" rows="2"> 
              {{prod.Description}}
          </textarea>  -->
              <p><button class="btn btn-primary btn-sm" (click)="addtocart(prod);">Add to Cart</button>
                <button class="btn btn-danger btn-sm" (click)="delete(i,prod);">Delete</button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls style="float: right;" [autoHide]="pageConfig.autoHide"
        (pageChange)="pageConfig.currentPage = $event"></pagination-controls>
    </div>
    <div *ngIf="prods?.length==0">
      <p>No items to display</p>
    </div>
  </div>
</div>

<!-- /.container-fluid -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title card text-white bg-primary" id="exampleModalLabel">{{header}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closepopup();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="fm.form.valid && submit(actiontype,newobj)" #fm="ngForm">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group col-xs-12 col-xl-6 col-md-12 pull-left">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control" [attr.disabled]="(actiontype === 2) ? '' : null" [(ngModel)]="
                newobj.Name" name="name" placeholder="Name" #name="ngModel" pattern="[A-Za-z0-9]*"
                [ngClass]="{ 'is-invalid': fm.submitted && name.invalid }" required>
            </div>
            <div class="form-group col-xs-12 col-xl-6 col-md-12 pull-right">
              <label for="exampleInputEmail1">Display Name</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.DisplayName" name="displayname"
                placeholder="Display Name" #displayname="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && displayname.invalid }" required>
            </div>
            <div class="form-group col-xs-12 col-xl-12 col-md-12 pull-right">
              <label for="exampleInputEmail1">Description</label>
              <textarea rows="2" cols="50" class="form-control" [(ngModel)]="newobj.Description" name="description"
                placeholder="Description" #description="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && description.invalid }" required></textarea>
            </div>
            <div class="form-group col-xs-12 col-xl-6 col-md-12 pull-left">
              <label for="exampleInputEmail1">Code</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.Code" name="code" placeholder="Code"
                #code="ngModel" [ngClass]="{ 'is-invalid': fm.submitted && code.invalid }" required>
            </div>
            <div class="form-group col-xs-12 col-xl-6 col-md-12 pull-right">
              <label for="exampleInputEmail1">Select Type</label>
              <select class="form-control" [(ngModel)]="newobj.TypeId" name="typeId" #typeId="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && typeId.invalid }" required>
                <option [ngValue]=null>Select</option>
                <option *ngFor="let type of ptypes" value={{type.TypeId}}>{{type.Name}}</option>
              </select>
            </div>
            <div class="form-group col-xs-12 col-xl-6 col-md-12 pull-left">
              <label for="exampleInputEmail1">Select Brand</label>
              <select class="form-control" [(ngModel)]="newobj.BrandId" name="brand" #brand="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && brand.invalid }" required>
                <option [ngValue]=null>Select</option>
                <option *ngFor="let brand of brands" value={{brand.BrandId}}>{{brand.BrandName}}</option>
              </select>
            </div>
            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-right">
              <label for="exampleInputEmail1">Selling Price</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.SellingCost" name="sellingprice"
                placeholder="Selling price" #sellingprice="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && sellingprice.invalid }" required />
            </div>
            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-right">
              <label for="exampleInputEmail1">Actual Price</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.ActualCost" name="actualprice"
                placeholder="Actual price" #actualprice="ngModel"
                [ngClass]="{ 'is-invalid': fm.submitted && actualprice.invalid }" required />
            </div>
            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-left">
              <label for="exampleInputEmail1">CGST%</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.CGST" name="cgst" placeholder="CGST"
                #cgst="ngModel" [ngClass]="{ 'is-invalid': fm.submitted && cgst.invalid }" required />
            </div>
            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-left">
              <label for="exampleInputEmail1">SGST%</label>
              <input type="text" class="form-control" [(ngModel)]="newobj.SGST" name="sgst" placeholder="SGST"
                #sgst="ngModel" [ngClass]="{ 'is-invalid': fm.submitted && sgst.invalid }" required />
            </div>




            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-right">



            </div>

            <div class="form-group col-xs-12 col-xl-3 col-md-12 pull-right">


            </div>
            <button type="button" class="btn btn-secondary btn-sm btn-space" style="float: right;"
              (click)="closepopup();">Close</button>
            <button type="submit" class="btn btn-primary btn-sm btn-space" style="float: right;">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>