
<div class="container-fluid">
  <div class="row p-2">
    <div class="col">

      <div class="d-flex justify-content-between align-items-center">
        <h4 class="page-title flex-grow-1">Department Configuration</h4>
        <div class="d-flex page-title-actions">
          <input type="text" class="form-control" (input)="templatesTable.filterGlobal($any($event.target)?.value, 'contains')" placeholder="Search">
          <!--<button class="btn btn-primary" type="button" [routerLink]="['/mainpage/hierarchy/adddept']">
            Add
          </button>-->
          <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddDepartment()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <p-table #templatesTable [value]="types" 
        [globalFilterFields]="['DepartmentName', 'DepartmentCode', 'Description','RegisteredBy']"
        tableStyleClass="table table-striped" [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="types.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="DepartmentName" style="width:20%">Department Name<p-sortIcon field="Department Name"></p-sortIcon></th>
              <th pSortableColumn="DepartmentCode" style="width:10%">Department Code<p-sortIcon field="Department Code"></p-sortIcon> </th>
              <th pSortableColumn="Description" style="width:15%">Comments<p-sortIcon field="Comments"></p-sortIcon></th>
              <th pSortableColumn="RegisteredBy" style="width:20%">Registered by<p-sortIcon field="Registered by"></p-sortIcon></th>
              <th pSortableColumn="RegisteredOn" style="width:1n00px">Registered On <p-sortIcon field="Registered On"></p-sortIcon></th>
              <th pSortableColumn="Status" style="width:100px">Status <p-sortIcon field="Status"></p-sortIcon></th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td> 
              <td>{{doc?.DepartmentName}}</td>
              <td>{{doc?.DepartmentCode }}</td>
              <td>{{doc?.Comments}}</td>
              <td>{{doc?.ModifiedBy}}</td>
              <td>{{doc?.ModifiedDate | date }}</td>
              <td><span class="status" [ngClass]="getStatusClass('Active')">Active</span></td>
              <td class="text-right" (click)="editBrand(doc)"><i class="bi bi-pencil"></i></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
