<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="page-title">{{title}}</h4>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="addTemplate()" #fm="ngForm">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <div class="form-group row">
          <label for="templateName" class="col-sm-2 col-form-label">Template Name <span style="color: red; font-weight: bolder;">*</span></label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control mw-350"
                   id="Templatename"
                   name="Templatename"
                   placeholder="Template Name"
                   [(ngModel)]="templateForm.Templatename" [disabled]="editMode" 
                   required
                     #TemplatenameInput="ngModel"
                      />
                      <div *ngIf="TemplatenameInput.invalid && (TemplatenameInput.dirty || TemplatenameInput.touched)" class="text-danger">
                        Enter Template name.
                      </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="ucode" class="col-sm-2 col-form-label">Unique Code <span style="color: red; font-weight: bolder;">*</span></label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control mw-350"
                   id="ucode"
                   name="ucode"
                   placeholder="Enter Prefix"
                   [(ngModel)]="templateForm.Uniquecode"
                   readonly     
                   required
                   #ucodeInput="ngModel"
                   />
                 
          </div>
          <div *ngIf="ucodeInput.invalid && (ucodeInput.dirty || ucodeInput.touched)" class="text-danger">
            Enter unique code.
          </div>
        </div>
        <div class="form-group row">
          <label for="docType" class="col-sm-2 col-form-label">Document Type <span style="color: red; font-weight: bolder;">*</span></label>
          <div class="col-sm-10">
            <p-dropdown [options]="typesDatasource" [(ngModel)]="selectedtype" placeholder="Select a Document Type"
                        optionLabel="Documenttypename" id="types" name="types"></p-dropdown>
            <!-- <input
              type="text"
              class="form-control mw-350"
              id="docType"
              name="docType"
              placeholder="Document Type"
              [(ngModel)]="templateForm.documenttype"
            /> -->
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description <span style="color: red; font-weight: bolder;">*</span></label>
          <div class="col-sm-10">
            <textarea class="form-control mw-350"
                      id="description"
                      name="description"
                      rows="3"
                      placeholder="Description"
                      [(ngModel)]="templateForm.description"
                      required
                       #descriptionInput="ngModel">
                     

                    </textarea>
                    <div *ngIf="descriptionInput.invalid && (descriptionInput.dirty || descriptionInput.touched)" class="text-danger">
                      Enter description.
      
                    </div>
          </div>
        </div>
      </div>
      </form>
      <div class="p-4 mt-3 bg-white shadow-dark rounded-2">
        <h5 class="page-card-title">Header Template</h5>
        <div class="template-block">
          <div class="template-grid">
            <ng-container *ngIf="showGrid">
              <table class="w-100">
                <tbody>
                  <tr *ngFor="let row of gridData; let rowIndex = index">
                    <ng-container *ngFor="let cell of row; let colIndex = index">
                      <td>
                        <div class="template-cell">
                          <div class="custom-select">
                            <select class="select-dropdown form-select"
                                    [(ngModel)]="
                                gridData[rowIndex][colIndex].selectedOption
                              ">
                              <option *ngFor="let option of selectOptions"
                                      [value]="option.value">
                                {{ option.name }}
                              </option>
                            </select>
                          </div>
                          <input [(ngModel)]="
                              gridData[rowIndex][colIndex].inputValue
                            "
                                 class="form-control"
                                 type="text" />
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="template-actions">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Rows</span>
              <input type="number" max="10" class="form-control" [(ngModel)]="rows" />
            </div>

            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Cols</span>
              <input type="number" max="10" class="form-control" [(ngModel)]="cols" />
            </div>

            <button class="btn btn-default" (click)="generateTeplateGrid()">
              <i class="bi bi-check2"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="p-4 mt-3 bg-white shadow-dark rounded-2">
        <h5 class="page-card-title">Footer Template</h5>
        <div class="template-block">
          <div class="template-grid">
            <ng-container *ngIf="showGrid">
              <table class="w-100">
                <tbody>
                  <tr *ngFor="let row of gridFooterData; let rowIndex = index">
                    <ng-container *ngFor="let cell of row; let colIndex = index">
                      <td>
                        <div class="template-cell">
                          <div class="custom-select">
                            <select class="select-dropdown form-select"
                                    [(ngModel)]="
                              gridFooterData[rowIndex][colIndex].selectedOption
                              ">
                              <option *ngFor="let option of selectOptions"
                                      [value]="option.value">
                                {{ option.name }}
                              </option>
                            </select>
                          </div>
                          <input [(ngModel)]="
                            gridFooterData[rowIndex][colIndex].inputValue
                            "
                                 class="form-control"
                                 type="text" />
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="template-actions">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Rows</span>
              <input type="number" min="0" max="10" class="form-control" [(ngModel)]="footerRows" />
            </div>

            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">Cols</span>
              <input type="number" min="0" max="10" class="form-control" [(ngModel)]="footerCols" />
            </div>

            <button class="btn btn-default" (click)="generateFooterGrid()">
              <i class="bi bi-check2"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group row my-4">
        <div class="col-sm-10 offset-sm-2">
          <button type="button"
                  class="btn btn-outline-secondary mx-2"
                  (click)="onCancel()">
            Back
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid" (click)="addTemplate()">Submit</button>
          <button type="button" class="col-xs-1 mx-2  btn btn-success" *ngIf="viewMode && templateForm.Status!='Approved'" (click)="approve()">Approve</button>
          <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-primary" *ngIf="viewMode && templateForm.Status!='Approved'" (click)="reinitiative()">Re-Initiative</button>
          <button type="button" class="col-xs-1 mx-8 offset-sm-1 btn btn-danger" *ngIf="viewMode && templateForm.Status!='Approved'" (click)="reject()">Reject</button>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </div>
</div>

