<div class="container-fluid">
  <div class="row p-2">

    <div class="row p-2">
      <div class="col">
        <h4 class="page-title"><a (click)="navigateTo('home')"><i class="bi bi-house-door"></i></a> / Administration</h4>
      </div>
    </div>


    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('security')">
        <div class="card-body">
          <!-- <i class="fa fa-chart-pie"></i> -->
          <i class="fa fa-code-compare"></i>
          <h5 class="card-title">Security Management</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('hierrachy')">
        <div class="card-body">
          <i class="fa fa-palette"></i>
          <h5 class="card-title">Hierarchy Management</h5>
        </div>
      </div>
    </div>



    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('plant')">
        <div class="card-body">
          <i class="fa fa-fan"></i>
          <h5 class="card-title">Plant Management</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('User')">
        <div class="card-body">
          <i class="fa fa-message"></i>
          <h5 class="card-title">User Management</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('Approval')">
        <div class="card-body">
          <i class="fa fa-chart-line"></i>
          <h5 class="card-title">Approval Configurations</h5>
        </div>
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('groups')">
        <div class="card-body">
          <i class="fa fa-chart-line"></i>
          <h5 class="card-title">User Group Configurations</h5>
        </div>
      </div>
    
    </div>
    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('Roles')">
        <div class="card-body">
          <i class="fa fa-chart-line"></i>
          <h5 class="card-title">Roles</h5>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('departments')">
        <div class="card-body">
          <i class="fa fa-chart-line"></i>
          <h5 class="card-title">Departments</h5>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card" (click)="navigateTo('activeuser')">
        <div class="card-body">
          <i class="fa fa-chart-line"></i>
          <h5 class="card-title">Activate/De-Activate User</h5>
        </div>
      </div>
    </div>
  </div>
  </div>
