<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="page-title">{{title}}</h4>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="submit(addrole)" #fm="ngForm">
        <div class="p-4 bg-white shadow-dark rounded-2">

          <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">Role<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <input type="text"
                     class="form-control"
                     id="rolename"
                     name="rolename"
                     placeholder="Role Name"
                     [(ngModel)]="addrole.Role" [disabled]="editMode"
                     required
                     #rolenameInput="ngModel"
                     />
                     <div *ngIf="rolenameInput.invalid && (rolenameInput.dirty || rolenameInput.touched)" class="text-danger">
                      Enter Role.
                    </div>
                     
                     
            </div>
          </div>
          <div class="form-group row">
            <label for="DepartmentName" class="col-sm-2 col-form-label">
              Department<span style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <!-- <input type="text"
                     class="form-control"
                     id="department"
                     name="department"
                     placeholder=""
                     [(ngModel)]="addrole.Department" [disabled]="viewMode" /> -->
                     <p-dropdown
                name="DepartmentName"
                [options]="types" 
                [(ngModel)]="addrole.Department"
                optionLabel="DepartmentName"
                
                optionValue="DepartmentName"
                [required]="true"
                #DepartmentNameInput="ngModel">
              
             
              
                   </p-dropdown>
              <div *ngIf="DepartmentNameInput.invalid && (DepartmentNameInput.dirty || DepartmentNameInput.touched)" class="text-danger">
                Select Your Role.
              </div>
            </div>
          </div>

          <!-- <div class="form-group row">
            <label for="Comments" class="col-sm-2 col-form-label">Comments</label>
            <div class="col-sm-10">
              <textarea class="form-control"
                        id="Comments"
                        name="Comments"
                        rows="3"
                        placeholder="Comments please"
                        [(ngModel)]="newdept.Comments" [disabled]="viewMode"
                        required
           #CommentsInput="ngModel"></textarea>
    <div *ngIf="CommentsInput.invalid && (CommentsInput.dirty || CommentsInput.touched)" class="text-danger">
      Comments is required.
            </div>
            </div>
          </div> -->
          <div class="form-group row">
            <label for="comments" class="col-sm-2 col-form-label">Comments
              <span style="color: red; font-weight: bolder;">*</span>
            </label>
            <div class="col-sm-10">
              <textarea 
                     class="form-control"
                     id="comments"
                     name="comments"
                     rows="3"
                     placeholder="Comments please"
                     [(ngModel)]="addrole.Comments" [disabled]="viewMode"
                     required
                     #commentsInput="ngModel" ></textarea>
                     <div *ngIf="commentsInput.invalid && (commentsInput.dirty || commentsInput.touched)" class="text-danger">
                      Write Comments.
                    </div>
            </div>
          </div>
        </div>
        <div class="form-group row my-4">
          <div class="col-sm-10 offset-sm-2">
            <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary" *ngIf="!editMode" [disabled]="!fm.form.valid">Submit</button>
            <button type="submit" class="btn btn-primary" *ngIf="editMode">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<style>
  .form-control {
  max-width: 350px;
}
</style>