
<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-6 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">My Assignments List</h6>
    </div>

  </div>
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="types?.length>   0">

        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Task Type</th>
            <th scope="col">Stage</th>           
            <th scope="col">Initiated By</th>
            <th scope="col">Initiated On</th>
            <th scope="col">Status</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of types; let i=index">
            <th>{{i+1}}</th>
            <td (click)="getInfo(doc?.TaskType,doc?.TaskName,doc?.WITId)" ><a> {{doc?.TaskType}} </a></td>
            <td>{{doc?.Stage}}</td>           
            <td>{{doc?.InitiatedBy}}</td>
            <td>{{doc?.InitiatedOn}}</td>
            <td>Success</td>
            <td>
              <button class="btn" data-toggle="modal" data-target="#exampleModal" [id]="doc.DTCId"
                      data-backdrop="static" data-keyboard="false" (click)="editBrand(doc);">
                <span class="fa fa-edit"></span>
              </button>
              <!-- <button class="btn"> <span class="fa fa-flag fa-trash" (click)="deleteBrand(i,doc);"></span></button> -->
            </td>
          </tr>
        </tbody>

      </table>

    </div>

    <div *ngIf="types?.length==0">
      <p>No items to display</p>
    </div>
  </div>
</div>
