<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <h4 class="page-title">{{editMode? 'Update': 'Add'}} Print Request</h4>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form (ngSubmit)="savePrintRequest()" #fm="ngForm">
        <div class="p-4 bg-white shadow-dark rounded-2">

          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Document Number<span
              style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <p-dropdown name="docType" [options]="preparations" [(ngModel)]="print.documentNumber"
                optionLabel="documentno" optionValue="documentno" (onChange)="documentNumberChange($event)" 
                [autoDisplayFirst]="false" [required]="true"
                #documentnoInput="ngModel" [disabled]="viewMode">
              </p-dropdown>
              <div *ngIf="documentnoInput.invalid && (documentnoInput.dirty || documentnoInput.touched)" class="text-danger">
                Document Number is required.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="documentTitle" class="col-sm-2 col-form-label">Document Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="documentTitle" name="documentTitle"
                placeholder="Document Title" [(ngModel)]="print.documenttitle" [disabled]="'true'"/>
            </div>
          </div>
          

          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Print Type</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="print" name="printType" placeholder="Print Type"
                [(ngModel)]="print.printtype" [disabled]="'true'"/>
            </div>
          </div>

          <div class="form-group row">
            <label for="noofcopies" class="col-sm-2 col-form-label">No Of Copies<span
              style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="noofcopies" name="noofcopies" placeholder=""
                [(ngModel)]="print.noofcopies" [disabled]="viewMode"  #noofcopiesInput="ngModel"  required/>
                <div *ngIf="noofcopiesInput.invalid && (noofcopiesInput.dirty || noofcopiesInput.touched)" class="text-danger">
                  No Of Copies is required.
                </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="prefix" class="col-sm-2 col-form-label">Workflow<span
              style="color: red; font-weight: bolder;">*</span></label>
            <div class="col-sm-10">
              <div class="col-sm-10">
                <p-dropdown name="workflow" [options]="workflowsSource" [(ngModel)]="print.workflow"
                  optionLabel="workflowName" optionValue="workflowName" [autoDisplayFirst]="false" [required]="true"
                  #WorkflowInput="ngModel" [disabled]="viewMode">
                </p-dropdown>
                <div *ngIf="WorkflowInput.invalid && (WorkflowInput.dirty || WorkflowInput.touched)" class="text-danger">
                  Workflow is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="documentType" class="col-sm-2 col-form-label">Reason</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="reason" name="Reason" placeholder=""
                [(ngModel)]="print.reason" [disabled]="viewMode" />
            </div>
          </div>

          <div class="form-group row my-4">
            <div class="col-sm-10 offset-sm-2">
              <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid"  *ngIf="!editMode">Submit</button>
              <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid" *ngIf="editMode" >Update</button>
              <button type="button" class="col-xs-1 mx-2  btn btn-success" *ngIf="viewMode && !iscompleted" (click)="approve()">Approve</button>
            <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-primary" *ngIf="viewMode && !iscompleted" (click)="reinitiative()">Re-Initiative</button>
            <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-danger" *ngIf="viewMode && !iscompleted" (click)="reject()">Reject</button>
            <button type="button" class="col-xs-1 mx-2 offset-sm-1 btn btn-success" (click)="previewprint(template)">Preview</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Preview</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModel()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe *ngIf="pdfUrl" [src]="pdfUrl" type="application/pdf" width="100%" height="500px"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeModel()">Close</button>
  </div>
</ng-template>