<div class="container-fluid">
    <div class="row p-2">
        <div class="col">
           
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="page-title flex-grow-1">Document Requests</h4>
                <div class="d-flex page-title-actions">
                  <input type="text" class="form-control" placeholder="Search">
                  <button class="btn btn-primary mx-2" type="button" (click)="navigateToAddRequest()">New</button>
                </div>
              </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <div class="p-4 bg-white shadow-dark rounded-2">
            <p-table  [value]="requestsDatasource" tableStyleClass="table table-striped" [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="requestsDatasource.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="drid" style="width:20%">Req Code<p-sortIcon field="drid"></p-sortIcon></th>
                        <th pSortableColumn="documenttype" style="width:10%">Document type <p-sortIcon field="documenttype"></p-sortIcon></th>
                        <th pSortableColumn="department" style="width:15%">Department<p-sortIcon field="department"></p-sortIcon></th>
                        <!-- <th pSortableColumn="modifiedBy" style="width:20%">Registered by<p-sortIcon field="modifiedBy"></p-sortIcon></th>
                        <th pSortableColumn="modifiedDate" style="width:200px">Registered On <p-sortIcon field="modifiedDate"></p-sortIcon></th> -->
                        <th pSortableColumn="approvedby" style="width:20%">Workflow<p-sortIcon field="workflow"></p-sortIcon></th>
                        <th pSortableColumn="approvedby" style="width:20%">Approved by<p-sortIcon field="approvedby"></p-sortIcon></th>
                        <th pSortableColumn="approvedOn" style="width:200px">Approved On <p-sortIcon field="approvedOn"></p-sortIcon></th>
                        <th pSortableColumn="status" style="width:200px">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th style="width:80px">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-docType let-i="rowIndex">
                    <tr>  
                        <td>{{ i + 1 }}</td>  
                        <td>{{docType?.drid}}</td>
                        <td>{{docType?.documenttype}}</td>
                        <td>{{docType?.department}}</td>
                        <td>{{docType?.workflow}}</td>
                        <!-- <td>{{docType?.modifiedBy}}</td>
                        <td>{{docType?.modifiedDate| date}}</td> -->
                        <td>{{docType?.approvedby}}</td>
                        <td>{{docType?.approvedOn| date}}</td>
                        <td><span class="status" [ngClass]="getStatusClass(docType['status'])">{{docType.status}} </span></td>
                        <td class="text-center"><i *ngIf="docType?.status=='In-Progress'" (click)="editdocreq(docType)" class="bi bi-pencil"></i></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </div>
</div>  