<div class="container-fluid">
  <div class="row p-2">
    <div class="col">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="page-title flex-grow-1">Document Types</h4>
        <div class="d-flex page-title-actions">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-primary mx-2" type="button">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <p-table [value]="types" tableStyleClass="table table-striped">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th pSortableColumn="S.no" style="width:20%">S No<p-sortIcon field="sno"></p-sortIcon></th>
              <th pSortableColumn="username" style="width:10%">username<p-sortIcon field="username"></p-sortIcon></th>
              <th pSortableColumn="UserId" style="width:15%">User Id<p-sortIcon field="UserId"></p-sortIcon></th>
              <th pSortableColumn="Role" style="width:20%">Role<p-sortIcon field="Role"></p-sortIcon></th>
              <th pSortableColumn="Department" style="width:200px">Department <p-sortIcon field="Department"></p-sortIcon></th>
              <th pSortableColumn="RegisteredOn" style="width:200px">Registered On <p-sortIcon field="RegisteredOn"></p-sortIcon></th>
              <th pSortableColumn="Status" style="width:200px">Status <p-sortIcon field="Status"></p-sortIcon></th>
              <th style="width:80px">Actions</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{doc?.Empid}}</td>
              <td>{{doc?.UserID}}</td>
              <td>{{doc?.UserID}}</td>
              <td>{{doc?.Role}}</td>
              <td>{{doc?.Department}}</td>
              <td>{{doc?.Doj}}</td>
              <td><span class="status">{{doc.Status}} </span></td>
              <td class="text-center" (click)="editdoc(doc)"><i class="bi bi-pencil"></i></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>  
