
<style>
    table {
    width: 100%;
  }
  .mat-header-cell {
    color: black;
    font-size: 18px;
}
  </style>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a [ngClass]="{'active':tabselect==='department'}" class="nav-item nav-link"  id="nav-home-tab" data-toggle="tab" (click)="tabselect='hierarchy'"  [routerLink]="['/mainpage/hierarchy/department']" role="tab" aria-controls="nav-home" aria-selected="true">Department Configuration</a>
    <a [ngClass]="{'active':tabselect==='roles'}" class="nav-item nav-link"  id="nav-profile-tab" data-toggle="tab" (click)="tabselect='roles'" [routerLink]="['/mainpage/hierarchy/roles']" role="tab" aria-controls="nav-profile" aria-selected="false">Role Configuration</a>
    <a [ngClass]="{'active':tabselect==='functional'}" class="nav-item nav-link"  id="nav-profile-tab" data-toggle="tab" (click)="tabselect='functional'" [routerLink]="['/mainpage/hierarchy/functional']" role="tab" aria-controls="nav-profile" aria-selected="false">Set Functional Profile</a>
    <!-- <a [ngClass]="{'active':tabselect==='notification'}" class="nav-item nav-link"  id="nav-profile-tab" data-toggle="tab" (click)="tabselect='notification'" [routerLink]="['/mainpage/documentmaster/notification']" role="tab" aria-controls="nav-profile" aria-selected="false">Notification</a>
    <a [ngClass]="{'active':tabselect==='dashboard'}" class="nav-item nav-link"  id="nav-profile-tab" data-toggle="tab" (click)="tabselect='dashboard'" [routerLink]="['/mainpage/documentmaster/dashboard']" role="tab" aria-controls="nav-profile" aria-selected="false">Dashboard</a> -->
    
  </div>
  
</nav>

<router-outlet></router-outlet>

      