<!--<div class="card shadow mb-4" style="padding-top: 2px;">
  <div class="card-header py-3">
    <div col-6 style="float: left;">
      <h6 class="m-0 font-weight-bold text-primary">User Group Configuration</h6>
    </div>
    <div col-6 style="float: right;">
      <button class="btn btn-primary" type="button" (click)="addusergroup()">
        Add
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >-->
<!--*ngIf="types?.length>0"-->
<!--<thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">User Group Name</th>
            <th scope="col">Unique Code</th>
            <th scope="col">Total users</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of types; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{doc?.usergroupname}}</td>
            <td>{{doc?.code}}</td>
            <td>{{doc?.users}}</td>
            <td>Success</td>
            <td>
              <button class="btn" data-toggle="modal" data-target="#exampleModal"
                      data-backdrop="static" data-keyboard="false">
                <span class="fa fa-edit"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="types?.length==0">
      <p>No items to display</p>
    </div>
  </div>
</div>-->


<div class="container-fluid">
  <div class="row p-2">
    <div class="col">

      <div class="d-flex justify-content-between align-items-center">
        <h4 class="page-title flex-grow-1">User Group Configuration</h4>
        <div class="d-flex page-title-actions">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-primary mx-2" type="button" (click)="addusergroup()" >New</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="p-4 bg-white shadow-dark rounded-2">
        <p-table [value]="types" tableStyleClass="table table-striped" [rows]="itemsPerPage"
            [paginator]="true" [totalRecords]="types.length"
            [rowsPerPageOptions]="rowsPerPageOptions" [(first)]="currentPage">
          <ng-template pTemplate="header">
            <tr>            
              <th>S.No</th>
              <th pSortableColumn="usergroupname" style="width:20%">User Group Name<p-sortIcon field="usergroupname"></p-sortIcon></th>
              <th pSortableColumn="code" style="width:20%">Unique Code<p-sortIcon field="code"></p-sortIcon></th>
              <th pSortableColumn="registeredby" style="width:20%">Registered By<p-sortIcon field="registeredby"></p-sortIcon></th>
              <th pSortableColumn="registeredon" style="width:20%">Registered On<p-sortIcon field="registeredon"></p-sortIcon></th>
              <th pSortableColumn="totalusers" style="width:20%">Total Users<p-sortIcon field="totalusers"></p-sortIcon></th>
              <th style="width:80px">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doc let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>  
              <td>{{doc?.usergroupname}}</td>
              <td>{{doc?.code}}</td>
              <td>{{doc?.createdBy}}</td>
              <td>{{doc?.createdDate}}</td>              
              <td>{{doc?.totalusers}}</td>              
              <td class="text-center" (click)="editdoc(doc)"><i class="bi bi-pencil"></i></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


