<div class="container-fluid">
    <div class="row p-2">
      <div class="col">
        <h4 class="page-title">Change Password</h4>
      </div>
    </div>
    <div class="row p-2">
      <div class="col">
    <form (ngSubmit)="changePassword()" #fm="ngForm">
        <div class="p-4 bg-white shadow-dark rounded-2">
      <div class="form-group row">
        <label for="currentPassword" class="col-sm-2 col-form-label">Current Password:</label>
        <div class="col-sm-10">
        <input
          type="password"
          id="currentPassword"
          name="currentPassword"
          class="form-control"
          [(ngModel)]="currentPassword"
          required  #currentPasswordInput="ngModel"
        />
        <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.dirty || currentPasswordInput.touched)" class="text-danger">
            Current Password is required.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="newPassword" class="col-sm-2 col-form-label">New Password:</label>
        <div class="col-sm-10">
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form-control"
          [(ngModel)]="newPassword"
          required required  #newPasswordInput="ngModel"
        />
        <div *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)" class="text-danger">
            New Password is required.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="confirmNewPassword" class="col-sm-2 col-form-label">Confirm New Password:</label>
        <div class="col-sm-10">
        <input
          type="password"
          id="confirmNewPassword"
          name="confirmNewPassword"
          class="form-control"
          [(ngModel)]="confirmNewPassword"
          required #confirmNewPasswordInput="ngModel"
        />
        <div *ngIf="confirmNewPasswordInput.invalid && (confirmNewPasswordInput.dirty || confirmNewPasswordInput.touched)" class="text-danger">
            Confirm new Password is required.
          </div>
        </div>
      </div>
        </div>
        <div class="form-group row my-4">
            <div class="col-sm-10 offset-sm-2">
                <button type="button" class="btn btn-outline-secondary mx-2" (click)="onCancel()">
                    Cancel
                  </button>
      <button type="submit" class="btn btn-primary" [disabled]="!fm.form.valid">Change Password</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
  