<app-header *ngIf="isLoggedIn"></app-header>

<button class="hamburger-icon toggle-nav" (click)="toggleSidenav()" *ngIf="isLoggedIn">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-list"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
    />
  </svg>
</button>

<div [class.showNav]="isNavOpen" [class.content]="isLoggedIn">
  <app-left-nav *ngIf="isLoggedIn"></app-left-nav>
  <router-outlet></router-outlet>
</div>
<ngx-spinner type="ball-clip-rotate"></ngx-spinner>
