header {
  box-shadow: 0 0 2rem #2930421a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-info-block {
    a.dropdown-toggle {
      text-decoration: none;
      font-size: 1.15rem;
      color: #505050;
      height: 55px;
      display: flex;
      align-items: center;      
    }
  }

  .vr {
    align-self: center;
    background-color: #6c757d;
  }

  h5 {
    font-size: 1.2rem;
    color: #0a2d5b;
    padding-left: 38px;
  }
}
